@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

div.contenedor {
  position: relative;
  width: 100%;
  top:  100 px;
  border: 3px solid rgb(0, 0, 0);
  background-color: #e8e7e3;
}

body{
  font-family: "Roboto";
  text-align: center;
  margin: 0 auto;
  max-width: 30em;

}

p{
  color: #555;
  font-size: 11pt;

}

#on_eventos{
  height: 100px;
  width: 100px;
}

#titulo_pag{
  color: white;
  -webkit-text-stroke: 0.5px #000033;
}

.button {
  background-color: #000033; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#mensaje {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#mensaje p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "\2714";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.condition {
  color: red;
}

.condition:before {
  position: relative;
  left: -35px;
  content: "\2716";
}


